.bar {
    width: 100%;
    height: 2rem;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
.show {
    height: 100%;
    transition: width 0.5s ease;
}

.title {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-55%);
    color: white;
}
