.box_input_group {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    position: relative;
    /* flex-wrap: wrap; */
    /* width: ; */
    /* width: 9rem; */
}

.box_input_group > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    /* vertical-align: bottom; */
    border-radius: 10px;
}

.input_block {
    text-align: center;
    width: min-content;
    margin: 0 auto;
}

.box_input_group > input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
}

.btn {
    padding: 0.2rem 0.75rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}
