.table {
  margin: 30px 0;
  width: 100%;
}

.slide_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_bar > span {
  cursor: pointer;
}

.slide_bar > span:hover {
  background-color: rgba(255, 255, 255, 0.334);
}

.btn {
    padding: 5px 10px;
    background-color: #362706;
    border: 1px solid #362706;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    color: white;
}

.btn:hover {
    scale: 1.2;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    background-color: #362706ea;
  
}
