.table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  text-align: center;
  margin: 0 auto 20px;
  box-shadow: 0 0 0 1px #666;
  background-color: #C9B4A6;
}

.slidebar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.slidebar span{
  padding: 0px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slidebar span:hover {
  scale: 1.05;
  color: rgb(250, 147, 11);
}

.table th {
  background-color: #484338;
  color: aliceblue;
}

.header {
  background-color: #484338;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slide_bar > span {
  cursor: pointer;
}

.slide_bar > span:hover {
  background-color: rgba(255, 255, 255, 0.334);
}

.btn {
  padding: 5px 10px;
  background-color: #362706;
  border: 1px solid #362706;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  color: white;
}

.btn:hover {
    scale: 1.2;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    background-color: #362706ea;
  
}
